.altezza-div {
  height: 500px;
}
.imgcover {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
